<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{sp/viewCreate}">Create</a>
    <table border="2px">
        <tr>
            <th>STT</th>
            <th>Ten San Pham</th>
            <th>Gia San Pham</th>
            <th>Update</th>
            <th>delete</th>
        </tr>
        <tr th:each="sp, loop : ${listSanPham}" >
            <td th:text="${loop.count}"></td>
            <td th:text="${sp.getName()}"></td>
            <td th:text="${sp.getPrice()}"></td>

            <td><a th:href="@{/sp/getUptate(id=${sp.getId()})}">Update</a></td>
            <td><a th:href="@{/sp/delete(id=${sp.getId()})}">delete</a></td>

        </tr>

    </table>
</body>
</html>