<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${product}" th:action="@{/sp/updatePost}" method="post">
  ID: <input type="text" th:field="*{id}" readonly>
  Name Product: <input type="text" th:field="*{name}" required>
  price: <input type="text" th:field="*{price}" required>
  description: <input type="text" th:field="*{description}" required>
  manufacture: <input type="text" th:field="*{manufacture}" required>

    <input type="submit">Update
</form>
</body>
</html>