<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2px">
    <tr>
        <th>STT</th>
        <th>name</th>
        <th>So Dan </th>
        <th>Thuoc Quoc gia</th>
    </tr>

    <tr th:each="ct,loop : ${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${ct.name}"></td>
        <td th:text="${ct.soDan}"></td>
        <td th:text="${ct.nation.name}"></td>
    </tr>
</table>
</body>
</html>