<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
</head>

<body>
<form th:action="@{/laptop/createPost}" method="post" th:object="${LaptopDTO}">

            <div class="form-group w-25 m-2">
                <label style="color: red">nameLaptop</label>
                <input th:field="*{nameLaptop}" type="text">
                <p style="color: red" th:if="${#fields.hasErrors('nameLaptop')}" th:errors="*{nameLaptop}"></p>
            </div>

            <div class="form-group w-25 m-2">
                <label>Price</label>
                <input th:field="*{price}" type="text">
                <p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>

            </div>

            <div class="form-group w-25 m-2">
                <label>Description</label>
                <input th:field="*{description}" type="text">
            </div>

            <div class="form-group w-25 m-2">
                <label>Brand</label>
                <select th:field="*{brand}">
                    <option th:each="brand : ${listBrand}" th:value="${brand.idBrand}" th:text="${brand.nameBrand}"
                            class="form-control " name="color" placeholder="Enter Brand"></option>
                </select>
            </div>

        <button>Create</button>
<!--        <tr>-->
<!--            <div class="form-group w-25 m-2">-->
<!--                <label>dateOfManufacture</label>-->
<!--                <input th:field="*{dateOfManufacture}" type="hidden">-->
<!--            </div>-->
<!--        </tr>-->


</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</html>