<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/bl/}">Back</a>

<fieldset>
    <legend>Blog</legend>
    <table>
        <tr>
            <td>Tác Giả:</td>
            <td th:text="${blog.author}"></td>
        </tr>
        <tr>
            <td> Tiêu đề:</td>
            <td th:text="${blog.tittle}"></td>
        </tr>
        <tr>
            <td> Ngày Viết:</td>
            <td th:text="${blog.writeDate}"></td>
        </tr>
    </table>
</fieldset>
</body>
</html>